{% load bootstrap4 %}
<html>
<head>
  {% block title %}<title>Bibliothèque de randonnées</title>{% endblock %}
  <meta charset="utf-8">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container-fluid">
    <span><a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Liste des routes</a></span>
  </div>
  <div class="container-fluid">
   {% block content %}
   {% endblock %}
  </div>
</body>
</html>

