{% load leaflet_tags %}
<html>
  <head>
    {% block title %}<title>{{ route_detail.nom }}</title>{% endblock %}
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
    {% if portrait %}
    .leaflet-container {  /* all maps */
        width: 1332px;
        height: 1955px;
    }
    {% else %}
    .leaflet-container {  /* all maps */
        height: 1332px;
        width: 1955px;
    }
    {% endif %}
    .leaflet-tooltip {
        background: rgb(235, 235, 235);
        background: rgba(235, 235, 235, 0.81);
        background-clip: padding-box;
        border-color: #777;
        border-color: rgba(0,0,0,0.25);
        border-radius: 4px;
        border-style: solid;
        border-width: 4px;
        color: #111; /* #111*/
        display: block;
        font: 9px/12px "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 1px 6px;
        position: absolute;
        -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        pointer-events: none;
        white-space: nowrap;
        z-index: 6;
    }
    </style>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- pour UTM grid -->
        <script src="{% static 'js/proj4.js' %}"></script>
        <script src="{% static 'js/istresrando_Leaflet.MetricGrid.js' %}"></script>
  </head>
  <body>
  <div>
        {% load l10n %}
        {% localize off %}
        <script>
          function map_init_basic (map, options) {
            var departIcon = L.icon({
                   iconUrl: '/media/depart.png',
                   iconSize: [32,30],
                   iconAnchor: [0,30]
                });
            L.marker([{{ route_detail.lat }}, {{ route_detail.lon }}], {icon: departIcon}).addTo(map);
            var line = L.polyline({{ route_detail.geom }}, {opacity: 0.5, color: 'red'}).addTo(map);
            map.fitBounds(line.getBounds(), {maxZoom: 15});
            {% for wpt in tdm %}
              {% if not forloop.last and not forloop.first %}
                L.circleMarker({{ wpt.geom }}, {radius: 2, opacity: 0.5, color: 'red'}).bindTooltip('{{ wpt.etape }}',{permanent: true, opacity: 0.5, className: 'leaflet-tooltip'}).addTo(map);
              {% endif %}
            {% endfor %}
            var u30Grid = L.utmGrid(30, false, {
                color: 'blue',
                opacity: 0.5,
                weight: 1,
                latLonClipBounds: [[42.67, -180 + (29 * 6)],[49.73, -180 + (29 * 6) + 6]], //[[0, -180 + (29 * 6)],[80, -180 + (29 * 6) + 6]]
                drawClip: false,
                showAxisLabels: [1000], // 100, 1000, 10000, 100000
                showSquareLabels: [], // 100000 label 100km grid squares
                showAxis100km: false // true
            });
            var u31Grid = L.utmGrid(31, false, {
                color: 'blue', //#080
                opacity: 0.5,
                weight: 1,
                latLonClipBounds: [[42.32, -180 + (30 * 6)],[51.1, -180 + (30 * 6) + 6]], //[[0, -180 + (30 * 6)],[80, -180 + (30 * 6) + 6]]
                drawClip: false,   // true
                showAxisLabels: [1000], // 100, 1000, 10000, 100000
                showSquareLabels: [], // 100000 label 100km grid squares
                showAxis100km: false // true
            });
            var u32Grid = L.utmGrid(32, false, {
                color: 'blue',
                opacity: 0.5,
                weight: 1,
                latLonClipBounds: [[41.32, -180 + (31 * 6)],[49.57, -180 + (31 * 6) + 6]], //[[0, -180 + (31 * 6)],[80, -180 + (31 * 6) + 6]]
                drawClip: false,
                showAxisLabels: [1000], // 100, 1000, 10000, 100000
                showSquareLabels: [], // 100000 label 100km grid squares
                showAxis100km: false // true
            });
            map.addLayer(u30Grid);
            map.addLayer(u31Grid);
            map.addLayer(u32Grid);
            map.removeControl(map.zoomControl);
            var latMetrique = map.getCenter().y;
            var  b = 20037508.34;
            var latDeg = Math.atan(Math.exp(latMetrique * Math.PI / b)) * 360 / Math.PI - 90;
            var latDeg = map.getCenter().lat;
            var latRad = latDeg*Math.PI/180;
            var res = Math.round(132.77/Math.cos(latRad)*10)/10;
            alert("Après la capture de la page, choisir comme résolution d'impression: "+res+" pixels par pouce");
          }
        </script>
        {% endlocalize %}
        {% leaflet_map "map" callback="window.map_init_basic"%}
  </div>
  </body>
</html>
