{% load render_table from django_tables2 %}
{% load leaflet_tags %}
{% load bootstrap4 %}
<html>
  <head>
    {% block title %}<title>Bibliothèque de randonnées</title>{% endblock %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% leaflet_js %}
    {% leaflet_css %}
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <style>
    .leaflet-container {  /* all maps */
        height: 600px;
    }
    </style>
  </head>
  <body>
  {% if not user.is_authenticated %}
    <div class="container-fluid">
    <span><a href="{% url 'login'%}?next={{request.path}}">Connexion</a></span>
  </div>
  {% endif %}
  <div class="container-fluid">
    {% load l10n %}
    {% localize off %}
    <script>
        function map_init_basic (map, options) {
        var lctrl = L.control.layers();
        var fgall = L.featureGroup();
        {% for route in route_list %}
            var m{{ route.id }} = L.marker([{{ route.lat }}, {{ route.lon }}]).bindPopup("<a href='{{ route.id }}'>{{ route.nom }}</a>");
            var l{{ route.id }} = L.polyline({{ route.geom }}, {opacity: 0.5, color: 'red'});
            var r{{ route.id }} = L.layerGroup([m{{ route.id }}, l{{ route.id }}]).addTo(map);
            lctrl.addOverlay(r{{ route.id }}, "{{ route.nom }}");
            fgall.addLayer(l{{ route.id }});
        {% endfor %}
        fgall.addTo(map)
        lctrl.addTo(map);
        map.fitBounds(fgall.getBounds());
        map.addControl(new L.Control.Fullscreen());
        }
    </script>
    {% endlocalize %}
    {% leaflet_map "routesmap" callback="window.map_init_basic" %}
  </div>
  <div class="container-fluid">
    {% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'Filtrer' %}
    </form>
    {% endif %}
    {% render_table table 'django_tables2/bootstrap.html' %}
  </div>
  <div id="footer">
    <div class="container text-center">
      <hr>
      <p class="text-muted credit"><small>BibliRandoWeb |
        <a href="https://gitlab.com/pmakowski/biblirandoweb" target="_blank" rel="noopener noreferrer"> code source</a> sous licence
        <a href="https://choosealicense.com/licenses/agpl-3.0/" target="_blank" rel="noopener noreferrer" data-v-75ada372=""> AGPLv3 </a>
      </small></p>
    </div>
  </div>
  </body>
</html>
