{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load leaflet_tags %}
{% load bootstrap4 %}
<html>
  <head>
    {% block title %}<title>{{ route_detail.nom }}</title>{% endblock %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="https://cdn.jsdelivr.net/npm/@raruto/leaflet-elevation@1.7.5/dist/leaflet-elevation.min.js" integrity="sha256-RqLuDz2p17MLoBskqO+BApsBRJPpafsYwTLRYhzLCKE=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/@raruto/leaflet-elevation/dist/leaflet-elevation.css" />
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <style>
    .leaflet-container {  /* all maps */
        height: 400px;
    }

    .leaflet-tooltip {
        background: rgb(235, 235, 235);
        background: rgba(235, 235, 235, 0.81);
        background-clip: padding-box;
        border-color: #777;
        border-color: rgba(0,0,0,0.25);
        border-radius: 4px;
        border-style: solid;
        border-width: 4px;
        color: #111; /* #111*/
        display: block;
        font: 9px/12px "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 1px 6px;
        position: absolute;
        -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        pointer-events: none;
        white-space: nowrap;
        z-index: 6;
    }
    .lightblue-theme.elevation-polyline {
      stroke: red;
      opacity: 0.5;
    }
    </style>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
  <div class="container-fluid">
    <span><a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Liste des routes</a></span>
  </div>
  <div class="container-fluid pt-2">
    <div class="card">
      <div class="card-title border-bottom">
        <span class="text-info">{{ route_detail.nom }}</span>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-sm-8">
            {{ route_detail.notes }}
          </div>
          <div class="col-sm-4">
            <div>
              <span><i class="fa fa-road" aria-hidden="true"></i> Distance: <span class="font-weight-bolder">{{ route_detail.distance|floatformat:"0" }} m</span></span>
            </div>
            <div>
              <span><i class="fa fa-location-arrow" aria-hidden="true"></i> Dénivelé Positif: <span class="font-weight-bolder">+{{ route_detail.positif }} m</span></span>
            <br>
              <span> Dénivelé Négatif: <span class="font-weight-bolder">-{{ route_detail.negatif }} m</span></span>
            </div>
            <div>
              <span><img class="mountains" src="/media/mountains.svg"> Altitude Min: <span class="font-weight-bolder">{{ route_detail.altimin }} m</span></span>
            <br>
              <span> Altitude Max: <span class="font-weight-bolder">{{ route_detail.altimax }} m</span></span>
            </div>
            <div>
              <span><i class="fa fa-clock-o" aria-hidden="true"></i> Temps estimé (km/effort): <span class="font-weight-bolder">{{ route_detail.estimationtemps }} h</span></span>
            </div>
            <div>
              <span><i class="fa fa-tachometer" aria-hidden="true"></i> Cotation: <span class="font-weight-bolder">{{ route_detail.cotation }}</span></span>
            </div>

            <div>
              <span><i class="fa fa-file" aria-hidden="true"></i> Télécharger: la <a href="{{ route_detail.gpx.url }}">route</a> (gpx)</span>
            {% if tdm %}
              <br>
                <span> le <a href="{% querystring '_export'='csv' %}">tableau de marche</a> (csv)</span>
            {% endif %}
            {% if perms.randos.show_fiche %}
              {% if route_detail.fiche %}
                <br>
                  <span> la <a href="{{ route_detail.fiche.url }}">fiche</a></span>
              {% endif %}
            {% endif %}
            </div>
            <div>
              <span><i class="fa fa-print" aria-hidden="true"></i> Imprimer la <a href="/randos/carte/{{ route_detail.id }}" target="_blank">carte</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid pt-2">
    <div class="card">
      <div class="card-title border-bottom">
        <span class="text-info">Carte</span>
      </div>
      <div class="card-content" id="map">
        {% load l10n %}
        {% localize off %}
        <script>
          function map_init_basic (map, options) {
            var elevation_options = {
              useLeafletMarker: true,
              waypoints: true,
              wptLabels: true,
              downloadLink: false,
              distanceMarkers: false,
              almostOver: false,
              legend: false,
              distance: true,
              altitude: true,
              summary: false,
              theme: "lightblue-theme",
              followMarker: false,
              position: "topright",
              collapsed: false,
              detached: true,
              autohide: true,
              wptIcons: {
                '': L.divIcon({
                  className: 'elevation-waypoint-marker',
                  html: '<i class="elevation-waypoint-icon"></i>',
                  iconSize: [15, 15],
                  iconAnchor: [8, 15],
                }),
              },
            };
            var departIcon = L.icon({
						iconUrl: '/media/depart.png',
						iconSize: [32,30],
						iconAnchor: [0,30]
					});
            map.addControl(new L.Control.Fullscreen());
            L.marker([{{ route_detail.lat }}, {{ route_detail.lon }}], {icon: departIcon}).addTo(map);
            var controlElevation = L.control.elevation(elevation_options).addTo(map);
            controlElevation.load("{{ route_detail.gpx.url }}");
          }
        </script>
        {% endlocalize %}
        {% leaflet_map "map" callback="window.map_init_basic"%}
      </div>
    </div>
  </div>
  {% if tdm %}
    <div class="container-fluid pt-2">
      <div class="card">
        <div class="card-title border-bottom">
          <span class="text-info">Tableau de marche</span>
        </div>
        <div class="card-content">{% render_table table %}</div>
      </div>
    </div>
  {% endif %}
  <div id="footer">
    <div class="container text-center">
      <hr>
      <p class="text-muted credit"><small>BibliRandoWeb |
        <a href="https://gitlab.com/pmakowski/biblirandoweb" target="_blank" rel="noopener noreferrer"> code source</a> sous licence
        <a href="https://choosealicense.com/licenses/agpl-3.0/" target="_blank" rel="noopener noreferrer" data-v-75ada372=""> AGPLv3 </a>
      </small></p>
    </div>
  </div>
 </body>
</html>
